[submodule ".config/alacritty/alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .confg/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
